# Base de datos 
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/identity_db

#  Firebase Admin SDK 
FIREBASE_PROJECT_ID=tu-proyecto-xxxxx
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@tu-proyecto-xxxxx.iam.gserviceaccount.com

FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIE...(tu clave)...\n-----END PRIVATE KEY-----\n"

# RabbitMQ 
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=eciexpress_events

# Redis (BullMQ) 
REDIS_URL=redis://localhost:6379

# App 
PORT=3001
NODE_ENV=development
SERVICE_NAME=identity-service
